<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ashokvarma.sqlitemanager">

    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->

    <application>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.ashokvarma.sqlitemanager"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity
            android:name=".SqliteManagerActivity"
            android:label="@string/sqlite_manager_app_name"
            android:launchMode="singleTask"
            android:taskAffinity="com.ashokvarma.sqlitemanager.task"
            android:theme="@style/SqliteManager.Theme" />
    </application>

</manifest>