<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ashokvarma.sqlitemanager">

    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->

    <application>
        <activity
            android:name=".SqliteManagerActivity"
            android:label="@string/sqlite_manager_app_name"
            android:launchMode="singleTask"
            android:taskAffinity="com.ashokvarma.sqlitemanager.task"
            android:theme="@style/SqliteManager.Theme" />
    </application>

</manifest>